<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="images/landingpage/BookHub_ico.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="css/profilePage/bootstrap.css">
    <link rel="stylesheet" href="css/profilePage/history.css">
    <link rel="stylesheet" href="css/fonts/CircularStdFont/style.css">
    <link rel="stylesheet" href="css/bookPreview/log-in.css">
    <link rel="stylesheet" href="css/landingpage/search.css">
    <link rel="stylesheet" href="css/landingpage/search2.css">
    <link rel="stylesheet" href="css/profilePage/profile.css">
    <link rel="stylesheet" href="css/profilePage/bulma.css">
    <link rel="stylesheet" href="css/landingpage/grid.css">
    <link rel="stylesheet" href="css/landingpage/cardView2.css">
    <link rel="stylesheet" href="css/landingpage/cardView.css">
    <link rel="stylesheet" href="css/profilePage/table.css">
    <link rel="stylesheet" href="css/bookPreview/tags.css">
    <link rel='stylesheet' id='jquery-raty-style-css'  href='https://cdn.demos.pixelgrade.com/wp-content/plugins/comments-ratings/css/jquery.raty.css?ver=1518791654' type='text/css' media='' />
    <link rel='stylesheet' id='listable-style-css'  href='css/bookPreview/additional.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="css/landingpage/index.css">
    <link rel="stylesheet" href="css/landingpage/search.css">
    <link rel="stylesheet" href="css/bookPreview/filter.css">

    <style>
      .dudu:hover{
        background-color: #f1f1f1;
      }
    </style>
  </head>

  <body id='hey' style="overflow-x:hidden">
    <div class='columns' style="margin-top:110px; overflow:hidden">
      <div class='container profile'>
        <div class='modal' id='edit-preferences-modal'>
          <div class='modal-background'></div>

        </div>
        <div class='section profile-heading' style="box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)">
          <div class='columns is-mobile is-multiline'>
            <div class='column is-2'>
              <span class='header-icon user-profile-image'>
                <%if(userData.photo){%>
                  <img alt='' src='uploads/<%=userData.photo%>'>
                <%}else{%>
                  <img alt='' src='uploads/default.png'>
                <%}%>
              </span>
            </div>
            <div class='column is-4-tablet is-10-mobile name'>
              <p>
                <span class='title is-bold'><%=userData.firstname%> <%=userData.lastname%></span>
                <br>
                <a class='button is-primary is-outlined' href='#' id='edit-preferences' style='margin: 5px 0'>
                  Privacy Settings
                </a>
                <br>
              </p>
              <table>
              <tr>
                <td data-label="Email:"><%=userData.email%></td>
                <td data-label="Location:">Denver, CO</td>
                <td data-label="Contact no:">+63 927 088 2569</td>
                <td data-label="Facebook:"><span style="color:#268bd2; cursor:pointer" class="clickable">https://www.facebook.com/Wehttamzivla</span></td>
                <td data-label="Twitter:"><span style="color:#268bd2; cursor:pointer" class="clickable">https://twitter.com/buttafinga14</span></td>
              </tr>
            </table>
            </div>
            <div class='column is-2-tablet is-4-mobile has-text-centered' style="margin-left:100px">
              <p class='stat-val'><i class='fa fa-thumbs-up' style="font-size:1.4em"></i> 30</p>
              <p class='stat-key'> Likes</p>
            </div>
            <div class='column is-2-tablet is-4-mobile has-text-centered'>
              <p class='stat-val'><i class='fa fa-thumbs-down' style="font-size:1.4em"></i>10</p>
              <p class='stat-key'> Dislikes</p>
            </div>
          </div>
        </div>
        <div class='profile-options is-fullwidth'>
          <div class='tabs is-fullwidth is-medium'>
            <ul>
              <li class='link is-active'>
                <a id="0">
                  <span class='icon' style="color:#5d9cec; margin-top:0px">
                    <i class='fa fa-book'></i>
                  </span>
                  <span>My Books</span>
                </a>
              </li>

              <li class='link'>
                <a id="1">
                  <span class='icon' style="margin-top:0px">
                    <i class='fa fa-list'></i>
                  </span>
                  <span>Borrowed Books</span>
                </a>
              </li>

              <li class='link'>
                <a id="2">
                  <span class='icon' style="margin-top:0px">
                    <i class='fa fa-heart'></i>
                  </span>
                  <span>My Favorites</span>
                </a>
              </li>

              <li class='link'>
                <a id="3">
                  <span class='icon' style="margin-top:0px">
                    <i class='fa fa-history'></i>
                  </span>
                  <span>History</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

<div class="grid" id="grid0">
  <%if(myBooks.myBooks){%>
    <%for(var i = 0;i < myBooks.myBooks.length;++i){%>
      <div class="col-one-third">
        <div class="post-module" style="cursor:pointer">
          <div class="menu" id="t0" style="position:absolute; right:7px; margin-top:90px; z-index:3">
            <a>Matthew Alviz<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
            <a>Anton Macrohon<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
            <a>Gelline Gruta <span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
          </div>
            <!-- Thumbnail-->
            <div class="thumbnail">
              <!--<div class="date" id='0' style="z-index: 1">
                    <div class="day" style="margin-top:10px"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
                  </div>-->
              <img src="uploads/<%=myBooks.myBooks[i].photo%>">
            </div>
            <!-- Post Content-->
            <div class="post-content" >
              <div class="category" style="top:-40px"><span class="test">Status: FOR SALE</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-left" style="font-size:1em"></i>
                <ul class="dropdown-menu" style="width: 100%; text-align: center; display: none;">
                                <li id="male" class="dudu" style="color:black; margin-bottom:5px; padding:5px">Borrowed</li>
                                <li id="female" class="dudu" style="color:black; margin-bottom:5px; padding:5px">Sold</li>
                                <li id="female" class="dudu" style="color:black; margin-bottom:5px; padding:5px">FOR Rent</li>
                                <li id="female" class="dudu" style="color:black; margin-bottom:5px; padding:5px">FOR Sale</li>
                </ul>
              </div>
              <h1 class="title" style="font-family:'Circular Std Book' !important"><%=myBooks.myBooks[i].title%></h1>
              <h2 class="sub_title" style="padding-bottom:0; color:black">By: <%=myBooks.myBooks[i].author%></h2>

              <div class="c_info" style="padding-left:0">
                <!--<span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
                <div class="c_num">0 Stars</div>-->
                  <div class="single-meta" style="justify-content:unset">
                      <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                        <meta itemprop="ratingValue" content="3.00">
                      <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                      <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                  </div>
                </div>

                <!--<h2 class="sub_title">Fantasy</h2>-->
                <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                     <li><a style="color:white; margin-left:10px">Mystery</a></li>
                     <li><a style="color:white">Drama</a></li>
                  </ul>
              <p class="description" style="text-align: justify; display: none; height: 149px; opacity: 1;">A boy learns on his eleventh birthday that he is the orphaned son of two powerful wizards. He is summoned from his life as an unwanted child to become a student at Hogwarts.</p>
              <div class="post-meta"><span class="timestamp"><i class="material-icons" style="font-size:inherit">directions</i> 280 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> <%=Object.keys(myBooks.myBooks[i].comments).length%> comments</a></span></div>
            </div>
          </div>
      </div>
    <%}%>
  <%}%>

        </div>

        <div class="grid" id="grid1" style="display:none;">
          <div class="col-one-third">
            <div class="post-module" style="cursor:pointer">
                <!-- Thumbnail-->
                <div class="thumbnail">
                  <img src="images/landingpage/sample.jpeg">
                </div>
                <!-- Post Content-->
                <div class="post-content" >

                  <h1 class="title" style="font-family:'Circular Std Book' !important">Harry Potter and the Philosopher stone</h1>
                  <h2 class="sub_title" style="padding-bottom:0; color:black">By: JK Rowling</h2>

                  <div class="c_info" style="padding-left:0">
                    <!--<span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
                    <div class="c_num">0 Stars</div>-->
                      <div class="single-meta" style="justify-content:unset">
                          <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                            <meta itemprop="ratingValue" content="3.00">
                          <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                          <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                      </div>
                    </div>

                    <!--<h2 class="sub_title">Fantasy</h2>-->
                    <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                         <li><a style="color:white; margin-left:10px">Mystery</a></li>
                         <li><a style="color:white">Drama</a></li>
                      </ul>
                  <p class="description" style="text-align: justify; display: none; height: 149px; opacity: 1;">A boy learns on his eleventh birthday that he is the orphaned son of two powerful wizards. He is summoned from his life as an unwanted child to become a student at Hogwarts.</p>
                  <div class="post-meta"><span class="timestamp"><i class="material-icons" style="font-size:inherit">directions</i> 280 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 3 comments</a></span></div>
                </div>
                <!--<div class="select" style="background-color: #5d9cec; border-bottom: solid #ececec;">
                          <span style="font-size:1.5em; font-weight:600; color:white">Sort by: </span><span id="changeThis" style="font-size:1.5em; font-weight:600; color:white">Most Rated</span>
                          <i class="fa fa-chevron-left"></i>
                        </div>-->
              </div>
          </div>


                <div class="col-one-third">
                  <div class="post-module" style="cursor:pointer">
                    <div class="menu" id="t1" style="position:absolute; right:7px; margin-top:90px; z-index:3">
                			<a>Matthew Alviz<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                			<a>Anton Macrohon<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                			<a>Gelline Gruta <span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                		</div>

                    <!-- Thumbnail-->
                    <div class="thumbnail">
                      <img src="images/landingpage/sample2.jpg">
                    </div>
                    <!-- Post Content-->
                    <div class="post-content" >
                      <!--<div class="category" style="top:-40px">Borrowed from: Anton Macrohon &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-left" style="font-size:1em"></i></div>-->
                      <h1 class="title" style="font-family:'Circular Std Book' !important">Catcher in the Rye</h1>
                      <h2 class="sub_title" style="padding-bottom:0; color:black">By: David Leviathan</h2>

                      <div class="c_info" style="padding-left:0">
                        <!--<span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
                        <div class="c_num">0 Stars</div>-->
                          <div class="single-meta" style="justify-content:unset">
                              <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                                <meta itemprop="ratingValue" content="3.00">
                              <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                              <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                          </div>
                        </div>

                        <!--<h2 class="sub_title">Fantasy</h2>-->
                        <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                             <li><a style="color:white; margin-left:10px">Mystery</a></li>
                             <li><a style="color:white">Drama</a></li>
                          </ul>
                      <div class="post-meta"><span class="timestamp"><i class="material-icons" style="font-size:inherit">directions</i> 120 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 10 comments</a></span></div>
                    </div>
                  </div>
                </div>


                  <div class="col-one-third">
                    <div class="post-module" style="cursor:pointer">
                      <div class="menu" id="t2" style="position:absolute; right:7px; margin-top:90px; z-index:3">
                  			<a>Matthew Alviz<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                  			<a>Anton Macrohon<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                  			<a>Gelline Gruta <span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                  		</div>
                      <!-- Thumbnail-->
                      <div class="thumbnail">
                        <img src="images/landingpage/sample3.jpg">
                      </div>
                      <!-- Post Content-->
                      <div class="post-content" >
                        <!--<div class="category" style="top:-40px">Borrowed from: John Magbanua &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-left" style="font-size:1em"></i></div>-->
                        <h1 class="title" style="font-family:'Circular Std Book' !important">Every Day</h1>
                        <h2 class="sub_title" style="padding-bottom:0; color:black">By: David Leviathan</h2>

                        <div class="c_info" style="padding-left:0">
                          <!--<span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
                          <div class="c_num">0 Stars</div>-->
                            <div class="single-meta" style="justify-content:unset">
                                <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                                  <meta itemprop="ratingValue" content="3.00">
                                <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                            </div>
                          </div>

                          <!--<h2 class="sub_title">Fantasy</h2>-->
                          <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                               <li><a style="color:white; margin-left:10px">Mystery</a></li>
                               <li><a style="color:white">Drama</a></li>
                            </ul>
                        <div class="post-meta"><span class="timestamp"><i class="material-icons" style="font-size:inherit">directions</i> 200 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 5 comments</a></span></div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="grid" id="grid2" style="display:none;">
                  <%if(favorites.bookData){%>
                    <%for(var i = 0;i < favorites.bookData.length;++i){%>
                      <div class="col-one-third">
                        <div class="post-module" style="cursor:pointer">
                          <div class="menu" id="t0" style="position:absolute; right:7px; margin-top:90px; z-index:3">
                      			<a>Matthew Alviz<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                      			<a>Anton Macrohon<span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                      			<a>Gelline Gruta <span class="icon octicon octicon-x"></span><span class="icon octicon octicon-check"></span></a>
                      		</div>
                            <!-- Thumbnail-->
                            <div class="thumbnail">
                              <div class="date" id='0' style="z-index: 1">
                    								<div class="day" style="margin-top:10px"><i class="fa fa-exclamation" aria-hidden="true"></i></div>
                    							</div>
                              <img src="uploads/<%=favorites.bookData[i].photo%>">
                            </div>
                            <!-- Post Content-->
                            <div class="post-content" >
                              <div class="category" style="top:-40px">Status: Borrowed</div>
                              <h1 class="title" style="font-family:'Circular Std Book' !important"><%=favorites.bookData[i].title%></h1>
                              <h2 class="sub_title" style="padding-bottom:0; color:black">By: <%=favorites.bookData[i].author%></h2>

                              <div class="c_info" style="padding-left:0">
                                <!--<span id="c_stars" data-star="0"><span style="width: 48px;"></span></span>
                                <div class="c_num">0 Stars</div>-->
                                  <div class="single-meta" style="justify-content:unset">
                                      <a class="single-rating review_rate display-only" data-pixrating="3.00" itemprop="aggregateRating" id="special" itemtype="http://schema.org/AggregateRating" style="padding:0" title="regular">
                                        <meta itemprop="ratingValue" content="3.00">
                                      <i data-alt="1" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="2" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="3" class="star-on-png" title="regular"></i>&nbsp;<i data-alt="4" class="star-off-png" title="regular"></i>&nbsp;<i data-alt="5" class="star-off-png" title="regular"></i><input name="pixrating" type="hidden" value="3" readonly="">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                      <a class="listing-contact" style="color:#333333; padding-left:0px; padding-top:3px; font-size:0.8em">3 Stars</a>
                                  </div>
                                </div>

                                <!--<h2 class="sub_title">Fantasy</h2>-->
                                <ul class="tags" style="padding-left:0;margin-top:20px;margin-bottom:71px">
                                     <li><a style="color:white; margin-left:10px">Mystery</a></li>
                                     <li><a style="color:white">Drama</a></li>
                                  </ul>
                              <p class="description" style="text-align: justify; display: none; height: 149px; opacity: 1;">A boy learns on his eleventh birthday that he is the orphaned son of two powerful wizards. He is summoned from his life as an unwanted child to become a student at Hogwarts.</p>
                              <div class="post-meta"><span class="timestamp"><i class="material-icons" style="font-size:inherit">directions</i> 280 m</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> <%=Object.keys(favorites.bookData[i].comments).length%> comments</a></span></div>
                            </div>
                          </div>
                      </div>
                    <%}%>
                  <%}%>

                </div>

                        <div class="main-container col-xs-12" id="grid3" style="display:none">

      <!--       <div class="account_overview">
      </div> -->



      <div class="tabs" style="visibility:hidden">
      </div>

      <div class="tab_container current" id="tab-transactions">
        <div class="transactions_container">
<!--           <div class="clickable_hade col-xs-12">
            <div class="hade_description"> Go here to
							<a class="hade_link">manage your A+ CU Credit Card
								<span class="fa fa-small fa-external-link-square"></span>
							</a> account any time.
						</div>
          </div> -->


					<div class="sticky_divider col-xs-12 " style="transform: translateY(0px);">
            <div class="sticky_date col-xs-6 nopadding"><span>Pending</span></div>
            <!--<div class="sticky_total col-xs-6 nopadding"><span class="total_pending">Total pending</span><span class="spent">- $15.42</span></div>-->
          </div>
          <!-- Demo 1 -->
          <div class="transaction col-xs-12">

            <div class="transaction_container demo2 clear">
              <div class="col-xs-1">
                <div class="category">

                </div>
              </div>
              <div class="col-xs-11" style="margin-top:10px">
                <div class="description col-xs-8 row">

                  <div>
                    <span>The Catcher in the Rye</span>
                    <div class="category_title" style="background:#e45c5c;color:white">
                      <div class="category_text">Requesting to borrow</div>
                    </div>
                  </div>


                </div>
                <div class="dollars col-xs-3">
                  <div class="amount">Anton Macrohon</div>
                </div>
              </div>
            </div>
          </div>

          <div class="transaction col-xs-12">

            <div class="transaction_container demo2 clear">
              <div class="col-xs-1">
                <div class="category">

                </div>
              </div>
              <div class="col-xs-11" style="margin-top:10px">
                <div class="description col-xs-8 row">

                  <div>
                    <span>Harry Potter and the Sorcerer Stone</span>
                    <div class="category_title" style="background:#e45c5c;color:white">
                      <div class="category_text">Incoming request</div>
                    </div>
                  </div>


                </div>
                <div class="dollars col-xs-3">
                  <div class="amount">Matthew Alviz</div>
                </div>
              </div>
            </div>
          </div>


          <div class="sticky_divider col-xs-12" style="transform: translateY(0px);">
            <div class="sticky_date col-xs-6 nopadding">Today</div>
            <!--<div class="sticky_total col-xs-6 nopadding"><span class="spent">- $234.54</span></div>-->
          </div>
          <!-- Demo 1 -->
          <div class="transaction col-xs-12">

            <div class="transaction_container demo2 clear">
              <div class="col-xs-1">
                <div class="category">

                </div>
              </div>
              <div class="col-xs-11" style="margin-top:10px">
                <div class="description col-xs-8 row">

                  <div>
                    <span>Harry Potter and the Sorcerer Stone</span>
                    <div class="category_title" style="background:blue;color:white">
                      <div class="category_text">Borrowed</div>
                    </div>
                  </div>


                </div>
                <div class="dollars col-xs-3">
                  <div class="amount">John Magbanua</div>
                </div>
              </div>
            </div>
          </div>
          <div class="transaction col-xs-12">

            <div class="transaction_container demo2 clear">
              <div class="col-xs-1">
                <div class="category">

                </div>
              </div>
              <div class="col-xs-11" style="margin-top:10px">
                <div class="description col-xs-8 row">

                  <div>
                    <span>Harry Potter and the Sorcerer Stone</span>
                    <div class="category_title" style="background:blue;color:white">
                      <div class="category_text">Borrowed</div>
                    </div>
                  </div>


                </div>
                <div class="dollars col-xs-3">
                  <div class="amount">Matthew Alviz</div>
                </div>
              </div>
            </div>
          </div>

          </div>
          <div class="transaction col-xs-12">

            <div class="transaction_container demo2 clear">
              <div class="col-xs-1">
                <div class="category">

                </div>
              </div>
              <div class="col-xs-11" style="margin-top:10px">
                <div class="description col-xs-8 row">

                  <div>
                    <span>Harry Potter and the Sorcerer Stone</span>
                    <div class="category_title" style="background:green;color:white">
                      <div class="category_text">Borrowing</div>
                    </div>
                  </div>


                </div>
                <div class="dollars col-xs-3">
                  <div class="amount">Anton Macrohon</div>
                </div>
              </div>
            </div>
          </div>

          <div class="sticky_divider col-xs-12" style="transform: translateY(0px);">
            <div class="sticky_date col-xs-6 nopadding">Friday, May 4</div>
            <div class="sticky_total col-xs-6 nopadding">
<!--               <span class="deposits">+ $234.54</span> -->
              <!--<span class="spent">- $234.54</span>-->
            </div>
          </div>
          <!-- Demo 2 -->
          <div class="transaction col-xs-12">

            <div class="transaction_container demo2 clear">
              <div class="col-xs-1">
                <div class="category">

                </div>
              </div>
              <div class="col-xs-11" style="margin-top:10px">
                <div class="description col-xs-8 row">

                  <div>
                    <span>Harry Potter and the Sorcerer Stone</span>
                    <div class="category_title" style="background:orange;color:white">
                      <div class="category_text">Sold</div>
                    </div>
                  </div>


                </div>
                <div class="dollars col-xs-3">
                  <div class="amount">Matthew Alviz</div>
                </div>
              </div>
            </div>
          </div>

          <div class="transaction col-xs-12">

            <div class="transaction_container demo2 clear">
              <div class="col-xs-1">
                <div class="category">

                </div>
              </div>
              <div class="col-xs-11" style="margin-top:10px">
                <div class="description col-xs-8 row">

                  <div>
                    <span>Harry Potter and the Sorcerer Stone</span>
                    <div class="category_title" style="background:orange; color:white">
                      <div class="category_text">Sold</div>
                    </div>
                  </div>


                </div>
                <div class="dollars col-xs-3">
                  <div class="amount">Matthew Alviz</div>
                </div>
              </div>
            </div>
          </div>
      </div>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="js/landingpage/index.js" type="text/javascript"></script>
    <script src="js/landingpage/search.js" type="text/javascript"></script>
    <script src="js/landingpage/search2.js" type="text/javascript"></script>
    <script type='text/javascript' src='js/bookPreview/log-in.js'></script>
    <script src="js/Profilepage/index.js" type="text/javascript"></script>
    <script src="js/Profilepage/Requests.js" type="text/javascript"></script>
    <script type="text/javascript">
    $('.category').click(function(){
      $(this).parent().find('.dropdown-menu').toggle();
    })

    $('.dudu').click(function(){
      var x = $(this).text();
      $(this).parent().parent().find('.test').text('STATUS: ' + x);
    })
    </script>
  </body>
</html>
